* {
  font-family: Geist, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  font-weight: 600;
  font-size: 12px;
}
.flex {
  display: flex;

  align-items: center;
  gap: 4px;
}

.text_col {
  color: #2a9d8f;
}
header {
  p {
    font-size: 12px;
  }
  .title {
    color: #264653;
    margin-bottom: 4px;
    background-color: #f1f0e9;
    padding: 4px 20px;
    border-radius: 2px;
  }
  ul li {
    list-style: none;
    font-size: 12px;
  }
}
.flex_2 {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
section {
  ul li {
    font-size: 14px;
    margin-bottom: 4px;
  }
}
article {
  margin-bottom: 8px;
  p {
    font-size: 12px;
    margin-bottom: 3px;
  }
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 2px;
  }
}
body {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  color: #333;
  line-height: 1.6;
}
a {
  color: #2a9d8f;
  text-decoration: none;
}
h1 {
  color: #41644a;
  font-size: 28px;
}
h4 {
  margin-top: -1rem;
}
h2 {
  color: #264653;
  font-size: 15px;
  /* border-left: 2px solid #2a9d8f; */
  /* padding-left: 10px; */
  /* margin-bottom: 10px; */

  /* padding-bottom: 5px; */
}
.contact {
  font-size: 12px;
  margin-bottom: 16px;
}
ul {
  padding-left: 20px;
  margin: 8px 0;
}
ul li {
  font-size: 10px;
  margin-bottom: 4px;
}
/* .bold {
  font-size: 12px;
} */
.date {
  float: right;
  color: #666;
  font-size: 14px;
}
span.sep {
  padding: 0 5px;
}

.under {
  margin-top: 30px;
  p {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
}

@media screen and (max-width: 568px) {
  .flex_2 {
    ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 0 10px;
      align-items: center;
    }
  }
}
.pro {
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
}
